@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.user-acc {
  font-family: "Roboto", serif;
}

.user-acc h2 {
  font-size: 2.8rem;
  margin: 80px 160px;
  text-align: center;
}

.user-acc-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 30vh;
}

.user-acc-container h4 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.user-acc-container p {
  padding-bottom: 20px;
  padding-left: 10px;
  color: rgb(129, 129, 129);
}

.order-history {
  flex-grow: 2;
  padding: 0 10vw;
}

.order-container-header {
  display: flex;
}

.order-container-header p:nth-child(1) {
  flex-grow: 4;
}

.order-container-header p:nth-child(2) {
  flex-grow: 2;
}

.order-container-card {
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 18px;
  height: auto;
  width: 100%;
  border-radius: 20px;
  background-color:rgb(255, 255, 255);
  box-shadow: 0 0 30px rgba(82, 82, 82, 0.1);
  display: flex;
}

.order-details {
  display: flex;
  flex-grow: 1.5;
}

.order-details img{
  width: 30%;
  height: auto;
  border-radius: 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.product-details span {
  padding-bottom: 10px;
  font-size: .9rem;
}

.product-details span:nth-child(1) {
  font-size: 1.1rem;
  font-weight: 500;
}

.order-quantity {
  flex-grow: 2;
}

.order-total {
  align-self: right;
}

.acc-detail {
  flex-grow: 1;
}

.acc-detail button {
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 80px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: .9rem;
}

.logout-btn {
  color: red;
}

.acc-detail button:hover {
  text-decoration: underline;
}