@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", serif;
}

.login-container h2 {
  font-size: 2.8rem;
  margin: 80px 160px 20px;
  text-align: center;
  width: 30%;
}

.login-container p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: rgb(129, 129, 129);
}

.input-box {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.input-box input {
  width: 90%;
  height: auto;
  padding: 15px 0 15px 25px;
  border: 1px solid;
  border-radius: 15px;
  font-size: .9rem;
  align-self: center;
}

.login-container button {
  margin-top: 80px;
  margin-bottom: 20vh;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  background-color: rgb(158, 158, 158);
  color: white;
  font-size: 1rem;
  transition: background-color 0.15s ease-in;
}

.login-container button:hover {
  cursor: pointer;
  background-color: rgb(103, 103, 103);
}

.login-container a {
  margin-top: 20px;
	padding: 0 40px;
  border: none;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  font-size: .9rem;
  transition: background-color 0.15s ease-in;
}

.error-msg {
  font-size: .8rem;
  color: red; 
  margin: 10px 0;
  margin-left: 25px;
  text-align: left;
}